<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="../../../utils/pageTemplateSystem.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="content">
        <b:row>
            <b:column span="8">
                <h1>Lista de tipo de pregunta </h1>
            </b:column>

            <b:column span="4" style="text-align: right">
                <h:form>
                    <b:commandButton  icon="plus" look="primary" ajax="true" update="@form formTipre" 
                                      onclick="ajax:tipopreguntaBean.prepareInsert()" oncomplete="launchModal(0)"/> 
                </h:form>

            </b:column>
        </b:row>
        <br></br>
        <b:row>
            <b:column span="12">
                <b:row styleClass="table-responsive">
                    <h:form id="datatable">
                        <b:dataTable styleClass="table table-striped" value="#{tipopreguntaBean.list}" var="item" excel="true"
                                     csv="true" pdf="true" columnVisibility="true" copy="true" print="true">
                            <h:column>
                                <f:facet name="header"><h:outputText value="#" /></f:facet>
                                <h:outputText value="#{item.id_tipo}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header"><h:outputText value="Nombre" /></f:facet>
                                <h:outputText value="#{item.nombre}" />
                            </h:column>

                         
                            <h:column>
                                <f:facet name="header"><h:outputText value="Opciones" /></f:facet>
                                <b:commandButton value="Editar" icon="edit" look="success" ajax="true" update="@form formTipre" 
                                                 onclick="ajax:tipopreguntaBean.prepareUpdate(item)" oncomplete="$('#formTipre').modal('show')"/> 
                                <b:commandButton value="Eliminar" ajax="true" update=":datatable" actionListener="#{tipopreguntaBean.eliminarTipoPregunta(item.id_tipo)}" 
                                                 icon="trash" look="danger" style="margin-left: 5px;"/>
                            </h:column>
                        </b:dataTable>
                    </h:form>
                </b:row>
            </b:column>
        </b:row>

        <b:modal id="formTipre" title="Registro de tipo de preguntas" styleClass="modalPseudoClass2" size="modal-lg"
                 closable="false" closeOnEscape="true">
            <b:row>
                <b:column span="12">
                    <b:panel title="FORMULARIO" look="primary">
                        <b:form>
                            <b:panelGrid columns="1" size="xs">      
                                <b:inputText value="#{tipopreguntaBean.model.id_tipo}" label="ID"/>
                                <b:inputText placeholder="Nombre" value="#{tipopreguntaBean.model.nombre}" label="Nombre" id="nombreDiv"
                                                 />
                                
                            </b:panelGrid>
                           
                            <b:row>
                                <b:column span="4" offset="4">
                                    <b:button value="Cancel"
                                              dismiss="modal" look="danger" onclick="return false;"/>
                                    <b:commandButton ajax="true"
                                                     actionListener="#{tipopreguntaBean.registrarTipoPregunta}"
                                                     value="#{tipopreguntaBean.button}" look="success"/>

                                </b:column>
                            </b:row>
                        </b:form>
                    </b:panel>
                </b:column>
            </b:row>
            <f:facet name="footer">
                <b:button value="Close" dismiss="modal" />
                <b:button value="Ok" look="primary" dismiss="modal" />
            </f:facet>
        </b:modal>

        <script>

            function launchModal() {
                $('#formTipre').modal('show');
            }
        </script>
    </ui:define>
</ui:composition>
