<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="../../../utils/pageTemplateSystem.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="content">
        <b:row>
            <b:column span="8">
                <h1>Lista de Practicas </h1>
            </b:column>
            <b:column span="4" style="text-align: right">
                <h:form>
                    <b:commandButton  icon="plus" look="primary" ajax="true" update="@form formPractica" 
                                      onclick="ajax:practicaBean.prepareInsert()" oncomplete="launchModal()"/> 
                </h:form>
            </b:column>
        </b:row>
        <br></br>
        <b:row>
            <b:column span="12">
                <b:row styleClass="table-responsive">
                    <h:form id="formtable">
                        <b:dataTable styleClass="table table-striped" value="#{practicaBean.list}" var="item" excel="true"
                                     csv="true" pdf="true" columnVisibility="true" copy="true" print="true">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="ID Practica" />
                                </f:facet>
                                <h:outputText value="#{item.id_practica}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="ID Practicante" />
                                </f:facet>
                                <h:outputText value="#{item.id_practicante}" />
                            </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="ID Empresa" />
                                </f:facet>
                                <h:outputText value="#{item.id_empresa}" />
                            </h:column>
                            
                           
                            
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Fecha inicio" />
                                </f:facet>
                                <h:outputText value="#{item.fecha_ini}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Fecha final" />
                                </f:facet>
                                <h:outputText value="#{item.fecha_fin}" />
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Fecha Registro" />
                                </f:facet>
                                <h:outputText value="#{item.fecha_reg}" />
                            </h:column>
                            
                           
                            
                           
                            
                           <h:column>
                                <f:facet name="header"><h:outputText value="Opciones" /></f:facet>
                                <b:commandButton value="Editar" icon="edit" look="success" ajax="true" update="@form formPractica" 
                                                 onclick="ajax:practicaBean.prepareUpdate(item)" oncomplete="$('#formPractica').modal('show')"/> 
                                <b:commandButton value="Eliminar" ajax="true" update=":formtable" actionListener="#{practicaBean.eliminarPractica(item.id_practica)}" 
                                                 icon="trash" look="danger" style="margin-left: 5px;"/>
                            </h:column>
                        </b:dataTable>
                    </h:form>
                </b:row>
            </b:column>
        </b:row>

        <b:modal id="formPractica" title="Registrar Practica" styleClass="modalPseudoClass2" size="modal-lg"
                 closable="false"  close-on-escape="false" backdrop="false">
            <b:row>
                <b:column span="12">
                    <b:panel title="FORMULARIO" look="primary">
                        <b:form id="formprac">
                            <b:row styleClass="show-grid">
                                <b:column span="12">
                                   
                                    <b:inputText placeholder="0" value="#{practicaBean.model.id_practica}" label="ID" id="prac"/>
                                
                                </b:column>
                            </b:row>
                            <b:row styleClass="show-grid">
                                <b:column span="12">
                                    <b:selectOneMenu label="Practicante"  value="#{practicaBean.model.id_practicante}">
                                        <f:selectItem  itemValue="" itemLabel="(porfavor seleccione)"/>
                                        <f:selectItems value="#{practicanteBean.list}" var="pr" itemValue="#{pr.id_practicante}" itemLabel="#{pr.id_practicante}" />
                                    </b:selectOneMenu>
                                </b:column>
                            </b:row>
                            <b:row styleClass="show-grid">
                                <b:column span="12">
                                    <b:selectOneMenu label="Empresa"  value="#{practicaBean.model.id_empresa}">
                                        <f:selectItem  itemValue="" itemLabel="(porfavor seleccione)"/>
                                        <f:selectItems value="#{empresaBean.list}" var="c" itemValue="#{c.id_empresa}" itemLabel="#{c.nombre}" />
                                    </b:selectOneMenu>
                                </b:column>
                            </b:row>
                           
                            <b:row styleClass="show-grid">
                                <b:column span="6">

                                    <b:datepicker id="ini" mode="toggle-icon" showWeek="true"
                                                  firstDay="1" value="#{practicaBean.model.fecha_ini}" required="true"
                                                  label="fecha inicio"  />
                                </b:column>
                                <b:column span="6">
                                    <b:datepicker id="fin" mode="toggle-icon" showWeek="true"
                                                  firstDay="1" value="#{practicaBean.model.fecha_fin}" required="true"
                                                  label="fecha fin"  />
                                </b:column>
                                <b:column span="6">
                                   <b:datepicker id="reg" mode="toggle-icon" showWeek="true"
                                                 firstDay="1" value="#{practicaBean.model.fecha_reg}" required="true"
                                                  label="fecha registro"  />
                                </b:column>
                            </b:row>
                           
                            <b:row>
                                 <b:column span="4" offset="4">
                                    <b:button value="Cancel"
                                              dismiss="modal" look="danger" onclick="return false;"/>
                                    <b:commandButton ajax="true"
                                                     actionListener="#{practicaBean.registrarPractica}"
                                                     value="#{practicaBean.button}" look="success"/>

                                </b:column>
                            </b:row>
                        </b:form>
                    </b:panel>
                </b:column>
            </b:row>
            <f:facet name="footer">
                <b:button value="Close" dismiss="modal" />
                <b:button value="Ok" look="primary" dismiss="modal" />
            </f:facet>
        </b:modal>
        
        
       
        
        
        <script>

            function launchModal() {
                $('#formPractica').modal('show');
            }
        </script>
    </ui:define>
</ui:composition>

