<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:b="http://bootsfaces.net/ui">

    <ui:remove>
        <!--
                    Hint to editors: The menus follow the Chicago style of capitalization. Please capitalize everything but the "smaller" words. 
        -->
    </ui:remove>
    <b:navBar brand="Brand" brandHref="../../../" fluid="true">
        <b:navbarLinks>
            <b:navLink value="Inicio" href="../../views/dashboard/index.xhtml" iconAwesome="home"></b:navLink>
            <b:navLink value="Configuración" href="../../views/maintenance/person/list.xhtml" iconAwesome="cog"></b:navLink>
            <b:navLink value="Inscripción" href="#" iconAwesome="user-plus"></b:navLink>
            <b:navLink value="Seguimiento" href="#" iconAwesome="check-circle-o"></b:navLink>
            <b:navLink value="Evaluación" href="#" iconAwesome="check"></b:navLink>
            <b:navLink value="Reportes" href="#" iconAwesome="pie-chart"></b:navLink>
        </b:navbarLinks>
    </b:navBar>

</ui:fragment>
