<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">

    <b:navBar brand="&copy;2013-2018 TheCoder4Eu" brandHref="http://www.thecoder4.eu/" fixed="bottom">
        <p class="navbar-text pull-right"><a href="https://showcase.bootsfaces.net/privacy.jsf">Privacy</a> - 
            <h:outputText value="BootsFaces #{versions.bsfVersion} on Mojarra 2.2.12, PrimeFaces 5.3, AngularFaces 2.1.10 and OmniFaces 1.11" /></p>
        <!-- p class="navbar-text pull-right"><h:outputText value="BootsFaces v1.0.1-OSP on Mojarra 2.2.12, PrimeFaces 5.3, AngularFaces 2.1.10 and OmniFaces 1.11" /></p -->
    </b:navBar>
</ui:fragment>
