<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        
        
    </h:head>
    <h:body>
        <ui:insert name="top">
            <ui:include src="navbartopsystem.xhtml"/>
        </ui:insert>
        
        <b:container>
            <ui:insert name="content"/>
        </b:container>
        
        <ui:insert name="botton">
            <ui:include src="navbarbottom.xhtml"/>
        </ui:insert>
        
    </h:body>
</html>
