<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="../../../utils/pageTemplateSystem.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="content">
        <b:row>
            <b:column span="8">
                <h1>Lista de documentos </h1>
            </b:column>

            <b:column span="4" style="text-align: right">
                <h:form>
                    <b:commandButton  icon="plus" look="primary" ajax="true" update="@form formDocument" 
                                      onclick="ajax:tipodocumentoBean.prepareInsert()" oncomplete="launchModal(0)"/> 
                </h:form>

            </b:column>
        </b:row>
        <br></br>
        <b:row>
            <b:column span="12">
                <b:row styleClass="table-responsive">
                    <h:form id="formdatatable">
                        <b:dataTable styleClass="table table-striped" value="#{tipodocumentoBean.list}" var="item" excel="true"
                                     csv="true" pdf="true" columnVisibility="true" copy="true" print="true">
                            <h:column>
                                <f:facet name="header"><h:outputText value="#" /></f:facet>
                                <h:outputText value="#{item.id_tipo_documento}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header"><h:outputText value="Nombre" /></f:facet>
                                <h:outputText value="#{item.nombre}" />
                            </h:column>

                            <h:column>
                                <f:facet name="header"><h:outputText value="Abreviatura" /></f:facet>
                                <h:outputText value="#{item.abreviatura}" />
                            </h:column>             
                            <h:column>
                                <f:facet name="header"><h:outputText value="Opciones" /></f:facet>
                                <b:commandButton value="Editar" icon="edit" look="success" ajax="true" update="@form formDocument" 
                                                 onclick="ajax:tipodocumentoBean.prepareUpdate(item)" oncomplete="$('#formDocument').modal('show')"/> 
                                <b:commandButton value="Eliminar" ajax="true" update=":formdatatable" actionListener="#{tipodocumentoBean.eliminarTipoDocumento(item.id_tipo_documento)}" 
                                                 icon="trash" look="danger" style="margin-left: 5px;"/>
                            </h:column>
                        </b:dataTable>
                    </h:form>
                </b:row>
            </b:column>
        </b:row>

        <b:modal id="formDocument" title="Registro de Documento de Identidad" styleClass="modalPseudoClass2" size="modal-lg"
                 closable="false" closeOnEscape="true">
            <b:row>
                <b:column span="12">
                    <b:panel title="FORMULARIO" look="primary">
                        <b:form>
                            <b:panelGrid columns="1" size="xs">      
                                <b:inputText value="#{tipodocumentoBean.model.id_tipo_documento}"/>
                                <b:inputText placeholder="Nombre" value="#{tipodocumentoBean.model.nombre}" label="Nombre" id="nombreDiv"
                                                 />
                                <b:inputText placeholder="Abreviatura" value="#{tipodocumentoBean.model.abreviatura}" label="Abreviatura" id="abreviaturaDiv"
                                                 />
                                <b:inputText placeholder="Max Correlativo" value="#{tipodocumentoBean.model.max_nro_documento}" label="Correlativo" id="CorrelativoDiv"
                                                 />
                                
                            </b:panelGrid>
                           
                            <b:row>
                                <b:column span="4" offset="4">
                                    <b:button value="Cancel"
                                              dismiss="modal" look="danger" onclick="return false;"/>
                                    <b:commandButton ajax="true"
                                                     actionListener="#{tipodocumentoBean.registrarTipoDocumento()}"
                                                     value="#{tipodocumentoBean.button}" look="success"/>

                                </b:column>
                            </b:row>
                        </b:form>
                    </b:panel>
                </b:column>
            </b:row>
            <f:facet name="footer">
                <b:button value="Close" dismiss="modal" />
                <b:button value="Ok" look="primary" dismiss="modal" />
            </f:facet>
        </b:modal>

        <script>

            function launchModal() {
                $('#formDocument').modal('show');
            }
        </script>
    </ui:define>
</ui:composition>

