<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="../../../utils/pageTemplateSystem.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:define name="content">
        <b:row>
            <b:column span="8">
                <h1>Lista de Cuestionario </h1>
            </b:column>
            <b:column span="4" style="text-align: right">
                <h:form>
                    <b:commandButton  icon="plus" look="primary" ajax="true" update="@form formcuestionario" 
                                      onclick="ajax:cuestionarioBean.prepareInsert()" oncomplete="launchModal()"/> 
                </h:form>
            </b:column>
        </b:row>
        <br></br>
        <b:row>
            <b:column span="12">
                <b:row styleClass="table-responsive">
                    <h:form id="formdatatable">
                        <b:dataTable styleClass="table table-striped" value="#{cuestionarioBean.list}" var="item" excel="true"
                                     csv="true" pdf="true" columnVisibility="true" copy="true" print="true">
                            <h:column>
                                <f:facet name="header"><h:outputText value="ID " /></f:facet>
                                <h:outputText value="#{item.id_cuestionario}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header"><h:outputText value="ID Tipo Evaluacion" /></f:facet>
                                <h:outputText value="#{item.id_tipo}" />
                            </h:column>

                            <h:column>
                                <f:facet name="header"><h:outputText value="Id pregunta" /></f:facet>
                                <h:outputText value="#{item.id_pregunta}" />
                            </h:column>
                           
                            <h:column>
                                <f:facet name="header"><h:outputText value="Opciones" /></f:facet>
                                <b:commandButton value="Editar" icon="edit" look="success" ajax="true" update="@form formcuestionario" 
                                                 onclick="ajax:cuestionarioBean.prepareUpdate(item)" oncomplete="$('#formcuestionarioedit').modal('show')"/> 
                                <b:commandButton value="Eliminar" ajax="true" update=":formdatatable" actionListener="#{cuestionarioBean.eliminarCuestionario(item.id_cuestionario)}" 
                                                 icon="trash" look="danger" style="margin-left: 5px;"/>
                            </h:column>
                        </b:dataTable>
                    </h:form>
                </b:row>
            </b:column>
        </b:row>

        <b:modal id="formcuestionario" title="Registrar Cuestionario" styleClass="modalPseudoClass2" size="modal-lg"
                 closable="false"  close-on-escape="false" backdrop="false">
            <b:row>
                <b:column span="12">
                    <b:panel title="FORMULARIO" look="primary">
                        <b:form id="form">
                            <b:row styleClass="show-grid">
                                <b:column span="12">
                                    <b:inputText placeholder="ID" value="#{cuestionarioBean.model.id_cuestionario}" label="ID" id="idc"/>
                                </b:column>
                            </b:row>
                            <b:row styleClass="show-grid">
                                <b:column span="12">
                                    <b:selectOneMenu label="Tipo Evaluacion"  value="#{cuestionarioBean.model.id_tipo}">
                                        <f:selectItem  itemValue="" itemLabel="(seleccionar....)"/>
                                        <f:selectItems value="#{tipoevaluacionBean.list}" var="e" itemValue="#{e.id_tipo}" itemLabel="#{e.nombre}" />
                                    </b:selectOneMenu>
                                </b:column>
                            </b:row>
                            <b:row styleClass="show-grid">
                                <b:column span="12">
                                    <b:selectOneMenu label="Tipo Pregunta"  value="#{cuestionarioBean.model.id_pregunta}">
                                        <f:selectItem  itemValue="" itemLabel="(seleccionar....)"/>
                                        <f:selectItems value="#{preguntaBean.list}" var="c" itemValue="#{c.id_pregunta}" itemLabel="#{c.nombre}" />
                                    </b:selectOneMenu>
                                </b:column>
                            </b:row>
                       
                           
                            <b:row>
                                <b:column span="4" offset="4">
                                    <b:button value="Cancel"
                                              dismiss="modal" look="danger" onclick="return false;"/>
                                    <b:commandButton ajax="true"
                                                     actionListener="#{cuestionarioBean.registrarCuestionario}"
                                                     value="Registrar" look="success"/>
                                </b:column>
                            </b:row>
                        </b:form>
                    </b:panel>
                </b:column>
            </b:row>
            <f:facet name="footer">
                <b:button value="Close" dismiss="modal" />
                <b:button value="Ok" look="primary" dismiss="modal" />
            </f:facet>
        </b:modal>
        
        <b:modal id="formcuestionarioedit" title="Editar Practicante" styleClass="modalPseudoClass2" size="modal-lg"
                 closable="false"  close-on-escape="false" backdrop="false">
            <b:row>
                <b:column span="12">
                    <b:panel title="FORMULARIO" look="primary">
                        <b:form id="formedit">
                            <b:row styleClass="show-grid">
                                <b:column span="12">
                                    <b:selectOneMenu label="Persona"  value="#{cuestionarioBean.model.id_tipo}">
                                        <f:selectItems value="#{tipoevaluacionBean.list}" var="p" itemValue="#{p.id_tipo}" itemLabel="#{p.nombre}" />
                                    </b:selectOneMenu>
                                </b:column>
                            </b:row>
                            <b:row styleClass="show-grid">
                                <b:column span="12">
                                    <b:selectOneMenu label="Escuela"  value="#{cuestionarioBean.model.id_pregunta}">
                                        <f:selectItems value="#{preguntaBean.list}" var="e" itemValue="#{e.id_pregunta}" itemLabel="#{e.nombre}" />
                                    </b:selectOneMenu>
                                </b:column>
                            </b:row>
                           
                           
                            <b:row>
                                <b:column span="4" offset="4">
                                    <b:button value="Cancel"
                                              dismiss="modal" look="danger" onclick="return false;"/>
                                    <b:commandButton ajax="true"
                                                     actionListener="#{cuestionarioBean.actualizarCuestionario}"
                                                     value="Actualizar" look="success"/>
                                </b:column>
                            </b:row>
                        </b:form>
                    </b:panel>
                </b:column>
            </b:row>
            <f:facet name="footer">
                <b:button value="Close" dismiss="modal" />
                <b:button value="Ok" look="primary" dismiss="modal" />
            </f:facet>
        </b:modal>

        <script>

            function launchModal() {
                $('#formcuestionario').modal('show');
            }
        </script>
    </ui:define>
</ui:composition>

