<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <b:navBar brand="Brand" brandHref="../../../" fluid="true">
            

            <!-- Following line is needed for TBS 3.0.1 (panel content overflow issue) -->
            <b:navbarLinks pull="right">
                <b:navLink value="Registrarse" outcome="register"></b:navLink>
            </b:navbarLinks>
            
        </b:navBar>

        <div class="container">
            <b:row>
                <b:column span="6" offset="3">
                    <b:form id="loginForm">
                        <b:panel title="Ingresar al sistema" look="primary">
                            <b:row>
                                <b:column>
                                    <b:inputText placeholder="Username" id="username" value="" label="Usuario"
                                                  >
                                        <f:facet name="prepend">
                                            <b:icon name="user" />
                                        </f:facet>
                                    </b:inputText>
                                </b:column>
                            </b:row>
                            <b:row >
                                <b:column >
                                    <b:inputText placeholder="Nombres" id="nombres" value="" label="password"
                                                 >
                                        <f:facet name="prepend">
                                            <b:icon name="user" />
                                        </f:facet>
                                    </b:inputText>
                                </b:column>
                            </b:row>
                            <b:row>
                                <b:column span="6">
                                    <b:commandButton icon-awesome="key" action="index.xhtml" value="Iniciar sesion" update="@form" look="primary" 
                                                     style="width:100%" />
                                </b:column>
                                <b:column span="6">
                                    <b:commandButton value="Cancelar" look="danger" style="width:100%" />
                                </b:column>
                            </b:row>
                        </b:panel>

                    </b:form>
                </b:column>

            </b:row>
        </div>


    </h:body>
</html>

