<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <b:navBar brand="Brand" brandHref="./" fluid="true">
            

            <!-- Following line is needed for TBS 3.0.1 (panel content overflow issue) -->
            <b:navbarLinks pull="right">
                <b:navLink value="Sistema" outcome="views/dashboard/index"></b:navLink>
                <b:navLink value="Login" outcome="views/accounts/login"></b:navLink>
                <b:navLink value="Registrarse" outcome="views/accounts/register"></b:navLink>
            </b:navbarLinks>
            
        </b:navBar>

        <div class="container">
            
        </div>


    </h:body>
</html>

